/* Fonts */
/* ---------------------------------------------------------- */
@font-face{font-family: light; src: local("HelveticaLTStd-Light"), url(fonts/HelveticaLTStd-Light.OTF);} 
@font-face{font-family: bold; src: local("HelveticaLTStd-Bold"), url(fonts/HelveticaLTStd-Bold.OTF);} 
@font-face{font-family: roman; src: local("HelveticaLTStd-Roman"), url(fonts/HelveticaLTStd-Roman.OTF);} 


/* Content Tags */
/* ---------------------------------------------------------- */
body{ 
	font-size: 0.9em;
	line-height: 1.2em;
	font-family: 'light';
	color:#4b4b4b
}

a{
	text-decoration:none;
	font-family: 'roman';
	color:#0b1e60;
	font-size: 1em;
	outline:0 !important;
}
	a:hover{
		color:#7092b0;
	}

p{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
	padding:10px 0;
	margin:0;
}

ul, ol{
	margin:0;
	padding:0;
	padding:10px 0;
	list-style-position:inside;
}

	ul{
		list-style-type:square;
	}


iframe{
	width:100%;
	margin:0 !important;
	border:none !important;
}

/* Headers */
/* ---------------------------------------------------------- */
h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:10px 0 0 0;
	font-family: 'bold';
	font-weight:nornal;
	border-top:2px solid #0b1e60;
}

h1 {
  font-size: 2em;
  line-height: 1.8em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.65em;
}

h3 {
  font-size: 1.2em;
  line-height: 1.3em;
}

h4 {
  font-size: 1em;
  line-height: 1em;
}

h5 {
  font-size: 0.8em;
  line-height: 0.8em;
}

h6 {
  font-size: 0.7em;
  line-height: 0.55em;
}


/* Default Classes */
/* ---------------------------------------------------------- */
.textCenter{
	text-align:center;
}
.textLeft{
	text-align:left;
}
.textRight{
	text-align:right;
}