/* Containers */
/* ---------------------------------------------------------- */
html {
    overflow-y: scroll;
}

body {
	background:#98999b;
}

.outer_wrap {
	overflow:hidden;
	margin: 0 auto;
	width: 1150px;
	background:#ffffff;
	-moz-box-shadow:    5px 5px 5px 6px #676767;
    -webkit-box-shadow: 5px 5px 5px 6px #676767;
	box-shadow: 5px 5px 5px 6px #676767;
}

.inner_wrap {

}

.content{
	padding: 30px 15px;
}

.box{
	padding: 0 15px 30px 15px;	
}

.minBoxHeight{
	min-height:200px;
}

.cols > div{
	min-width:240px;
	min-height:240px;
}

	.cols > div.clear{
		min-width:0px;
		min-height:0px;
	}
		
.featuredImage{
	margin: 0 15px 30px 15px;
	height:240px;
}

/* Header */
/* ---------------------------------------------------------- */
#header {
	border-bottom:2px solid #0b1e60;
	margin: 0 30px;
}

	#header h1{
		border:none;
		padding:9px 0 11px 0;
	}
	
		#header h1 img{
			width:130px;
		}

/* Navigation */
/* ---------------------------------------------------------- */
.googleMap{
	
}
nav a#pull {
	display: none;
}
#navigation {
	padding: 0 30px;
	margin:12px 0 38px 0;
	display:inline-block;
}
	#navigation ul {
		list-style: none;
		margin: 0;
		padding: 2px 0 0 0;
	}
		
		#navigation li {
			float: left;
		}
			
			#navigation a {
				color: #c3c3c3;
				display: block;
				padding: 0 9px;
				margin: 0;
				text-decoration: none;
				border-left:2px solid #485688;
				font-size:1.1em;
				line-height:0.9em;
			}
			
				#navigation li:first-child a{
					border-left:none;
					padding-left:0;
				}
				
					#navigation ul ul li:first-child a{
						border-left:2px solid #485688;
						padding-left:10px;
					}
				
				#navigation li:hover > a, #navigation a:focus {
					color: #004b8c;
				}


			#navigation ul ul {
				display: block;
				padding: 14px 0 0 0;
				float: left;
				margin: 0;
				position: absolute;
				z-index: 99999;
				opacity: 0;
				height: 0;
				overflow: hidden;
				-webkit-transition: opacity 500ms ease-out;
				-moz-transition: opacity 500ms ease-out;
				-o-transition: opacity 500ms ease-out;
				transition: opacity 500ms ease-out;
			}
			
				#navigation ul li:hover > ul {
					opacity: 1;
					height:auto;
				}

	#navigation .current-menu-item > a, #navigation .current-menu-ancestor > a, #navigation .current-post-ancestor > a {
		color: #004b8c;
	}
	
	#navigation .current-menu-ancestor > ul, #navigation .current-post-ancestor > ul{
		opacity: 1;
		height:auto;
	}
		#navigation:hover .current-menu-ancestor > ul, #navigation:hover .current-post-ancestor > ul{
			opacity: 0;
			height: 0;
		}
			#navigation .current-menu-ancestor:hover > ul, #navigation .current-post-ancestor:hover > ul{
			opacity: 1;
			height:auto;
		}
	


/* Footer */
/* ---------------------------------------------------------- */

#footer {
	background: #063576;
	padding: 30px 30px 50px 30px;
	color: #ffffff;
	font-size:0.9em;
}
	
	#footer a{
		color:#ffffff;
		text-decoration:none;
	}
		
		#footer a:hover{
			text-decoration:underline;
		}
	
.footerRight{
	text-align:right;
}


/* Default Styling */
/* ---------------------------------------------------------- */
.borderTop{
	border-top:1px solid #0b1e60;
}
.borderBottom{
	border-bottom:1px solid #0b1e60;
}
.borderNone{
	border:none !important;
}
.paddingNorm{
	padding:1%;
}

/* Misc*/
/* ---------------------------------------------------------- */
.slider{
	height:240px;
	width:100%;
}

	.slider .slide{
		height:240px;
		width:100%;
	}

.webcast .video{
	min-height:487px;
	padding-bottom:30px;
}

.webcaast .description{
	height:485px;
	overflow:hidden;
}

.videoBox{
	border: 1px solid #0b1e60;
	min-height:487px;
}

#googleMap{
	width:100%;
	height:300px;
}

.staffList .photo{
	min-width:240px;
	min-height:240px;
}
	.staffList .photo img{
		width:240px;
	}

ul.qtfMenu{
	list-style-type:none;
	list-style-image:none;
	padding:0 0 15px 0;
}
	.qtfMenu li{
		padding: 15px;
	}
	
		.qtfMenu li:first-child{
			padding-top:0;
		}

		.qtfMenu li a{
			display:block;
			border:1px solid #0b1e60;
			padding:15px 10px;
			font-family:'bold', Arial, Helvetica, sans-serif;;
			
		}
			.qtfMenu li a .readMore{
				height:auto;
				opacity:1;
				font-family:'roman', Arial, Helvetica, sans-serif;;
				font-size:0.9em;
			}
		
			.qtfMenu li a:hover, .qtfMenu li a.active{
				color:#ffffff;
				background-color: #0b1e60;
			}
		
				.qtfMenu li a.active .readMore{
					height:0;
					opacity:0;
				}

				
/* Plug-in Overrides*/
/* ---------------------------------------------------------- */
table.sortable tr{
	background:none !important;
}
	
	table.sortable td{
		border-left:none !important;
		border-right:none !important;
		border-bottom:none !important;
		border-top:1px solid #0b1e60 !important;
	}
	
	table.sortable th{
		border:none !important;
	}
	
		table.sortable th:hover, table.sortable th:focus{
			background:none !important;
			color:#7092b0 !important;
		}

#sitemap_list{
	padding:0 15px !important;
}		

	#sitemap_list li{
		padding-left:30px !important;
		background-image:none !important;
		border-top:1px solid #0b1e60;
	}
		#sitemap_list li li{
			border:none;
		}
	
		#sitemap_list li a{
			background-image:none !important;
			padding:0 !important;
		}

.printfriendly{
	margin:0 !important;
}