/* Fonts */
/* ---------------------------------------------------------- */
@font-face{font-family: light; src: url('fonts/HelveticaLTStd-Light.otf');} 
@font-face{font-family: bold; src: url('fonts/HelveticaLTStd-Bold.otf');} 
@font-face{font-family: roman; src: url('fonts/HelveticaLTStd-Roman.otf');} 
@font-face{font-family: black; src: url('fonts/HelveticaLTStd-Bik.otf');} 


/* Content Tags */
/* ---------------------------------------------------------- */
body{ 
	font-size: 0.9em;
	line-height: 1.2em;
	font-family: 'light', Arial, Helvetica, sans-serif;
	color:#4b4b4b
}

a{
	text-decoration:none;
	font-family: 'roman', Arial, Helvetica, sans-serif;
	color:#0b1e60;
	font-size: 1em;
	outline:0 !important;
}
	a:hover{
		color:#7092b0;
	}

p{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
	padding:10px 0;
	margin:0;
}

ul, ol{
	margin:0;
	padding:0;
	padding:10px 0;
	list-style-position:inside;
}

	ul{
		list-style-image: url("../images/bullet.gif");
	}
	
		.box li{
			padding: 10px 0 10px 30px;
		}


iframe{
	width:100%;
	margin:0 !important;
	border:none !important;
}

table{
	width:100%;
}

	table td{
		border:none;
		padding:5px !important;
		font-size:0.9em;
	}
	
	table.sortable th{
		border:none;
		font-family:'bold', Arial, Helvetica, sans-serif;
		color:#0b1e60;
		font-size:1em;
	}

/* Headers */
/* ---------------------------------------------------------- */
h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:10px 0 0 0;
	font-family: 'bold', Arial, Helvetica, sans-serif;
	font-weight:nornal;
	border-top:1px solid #0b1e60;
	color:#0b1e60;
}

h1 {
  font-size: 2em;
  line-height: 1.8em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.65em;
}

h3 {
  font-size: 1.2em;
  line-height: 1.3em;
}

h4 {
  font-size: 1em;
  line-height: 1em;
}

h5 {
  font-size: 0.8em;
  line-height: 0.8em;
}

h6 {
  font-size: 0.7em;
  line-height: 0.55em;
}


/* Default Classes */
/* ---------------------------------------------------------- */
.textCenter{
	text-align:center;
}
.textLeft{
	text-align:left;
}
.textRight{
	text-align:right;
}
.clickHere{
	color: #C3C3C3;
}
.bigStat{
	color:#0B1E60;
	font-size:3.5em;
	line-height:1.5em;
	font-family:'bold', Arial, Helvetica, sans-serif;
	display:block;
	float:right;
	text-align:right;
}
.smallStat{
	font-size: 14px;
	line-height: 12px;
	font-family: 'light', Arial, Helvetica, sans-serif;
	color:#4b4b4b;
	display:block;
	text-align:right;
}