@media screen and (max-width:1110px) {
	.outer_wrap{
		width:90%;
	}
	
	.cols .flex_25{
		width:50%;
	}
	
	.cols .flex_75{
		width:50%;
	}
	
	.staffList .flex_75{
		width:100%;
	}
	.staffList .photo{
		width:100%;
		text-align:center;
	}
	.webcast .flex_50{
		width:100%;
	}
}

@media screen and (max-width:690px) {
	.cols .flex_25{
		width:100%;
	}
	
	.cols .flex_75{
		width:100%;
	}
	
	.cols .flex_50, #footer .flex_50{
		width:100%;
	}
	.cols > div{
		min-height:0;
	}
}

@media screen and (max-width:520px) {
	#navigation{
		display:block;
	}
	
		#navigation li, #navigation ul ul{
			float:none;
			position:static;
		}
		
			#navigation li:first-child a{
				border-left:1px solid #004b8c;
			}
			
		#navigation ul ul {
			float:none;
			position:static;
			opacity: 1;
			height:auto;
			padding-left:30px;
		}
			
		#navigation:hover .current-menu-ancestor > ul{
			opacity: 1;
			height:auto;
		}

	.featuredImage{
		display:none;
	}
	
	.staffList .flex_75{
		width:100%;
	}
	.staffList .flex_25{
		width:100%;
	}
}
